.waybill {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.waybill-locations {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.waybill-locations p {
    margin: 0;
}